.app {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  background-color: rgb(215, 229, 239);
}

@import url("https://fonts.googleapis.com/css?family=Lobster|Roboto&display=swap");
