.wrapper {
  width: 200px;
  height: 361px;
  perspective: 600px;
}

.card {
  position: relative;
  font-family: "Lobster", cursive;
  width: 200px;
  height: 361px;

  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;

  &.active {
    transform: translateX(-100%) rotateY(-180deg);
  }

  .face {
    position: absolute;
    width: 200px;
    height: 361px;
    backface-visibility: hidden;
  }

  header {
    height: 32px;
    background-image: url("./glitter.jpg");
  }

  h2 {
    line-height: 32px;
    color: rgba(207, 4, 16, 0.9);
    margin: 0;
    text-align: center;
  }
  .front {
    transform: rotateY(180deg);
  }
  .back {
    background-image: url("./question.jpg");
    background-size: 40px;
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    h2 {
      background-color: rgb(1, 179, 225);
      padding: 22px;
    }
  }
}

img {
  width: 100%;
}

.card > div,
.card > h2 {
  z-index: 2;
  position: relative;
}
